#bodybackground {
    color: #b3b3b3;
    background: black;
    font-family: Helvetica; Arial; 
}

.logoclass {
    width: 7rem;
}

.navfont {
    font-size: 0.75rem;
    font-weight: bold;
}

svg {
    width: 0.75rem;
}

.songslist {
    margin-top: 1rem; 
    line-height: 0.75rem;
}

.secondcolumn {
    background: #9E3780;
}

i {
    color: black;
}
 /* width */
 ::-webkit-scrollbar {
    width: 0.3rem;
 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 

  .customizearrow {
      width: 0.8rem;
  }

  #dropdownbutton {
        background: black;
        border-radius: 10rem; 
 
      
  }