body {
    overflow:hidden;
}

#bodybackground {
    color: #b3b3b3;
    background: black;
    font-family: Helvetica; Arial; 
}

.logoclass {
    width: 7rem;
}

#navfont {
    font-size: 0.75rem;
    font-weight: bold;
    color: #b3b3b3;
}

#navbarSupportedContent > ul > li > a {
    color: #b3b3b3;
}

#navbarSupportedContent > ul > li > a:hover {
    color: white;
}

#navbarSupportedContent > div > p:hover {
        color: white;
}

#scrollablecolumn1 {
    height: 500px;
    overflow-y: auto;
}

#scrollablecolumn2 {
    height: 500px;
    overflow-y: auto;
}

.songslist {
    margin-top: 1rem; 
    line-height: 0.75rem;
}

.secondcolumn {
    background: #9E3780;
}

i {
    color: black;
}
 /* width */
 ::-webkit-scrollbar {
    width: 0.3rem;
 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 

.customizearrow {
    width: 1.3rem;
    opacity: 0.6;
    transition: 0.3s;
}

.customizearrow.active {
    opacity: 1;
}

.customizearrow:hover {
    opacity: 1;
}

#dropdownbuttonstyle {
        background: black;
        color: white;
        font-size: 0.65rem;  
        border-radius: 3rem;
        min-width: 8rem;
  }

#dropdownmenustyle {
    background: black;
    
}

#dropdownmenustyle a {
    color: white !important;
    font-size: 0.8rem;
   
}

.gradient {
    background: linear-gradient(#A43986, black);
 }

.playbutton {
    width: 3rem;
    border-radius: 2rem;
    background: transparent;
    opacity: 1;
} 

.playbutton:hover {
    transform: scale(1.1);
}

.heartdots:hover {
    color:white;
}



h6 {
    font-size: 10px;
    color:white;
}



.liststyle h6 {
    font-size: 13px;
    font-weight: bold;
}

.fontsmallersize {
    font-size: 0.5rem;
}


div.cardbackground {
    background: rgba(40, 40, 40, 0);
    transition: 0.3s;
    border: none;
}

div.cardbackground:hover {
    background: rgba(40, 40, 40, 0.8);

}

.imageoverlay {
    opacity: 1;

}

div.cardbackground:hover .imageoverlay {
    opacity: 1;
}

.footercontainer {
      height: 1rem;

  }
