body {
    overflow:hidden;
}

#bodybackground {
    color: #b3b3b3;
    background: black;
    font-family: Helvetica; Arial; 
}

.logoclass {
    width: 7rem;
}

.navfont {
    font-size: 0.75rem;
    font-weight: bold;
}


.scrollablecolumn {
    height: 500px;
    overflow-y: auto;
}

.songslist {
    margin-top: 1rem; 
    line-height: 0.75rem;
}

.secondcolumn {
    background: #9E3780;
}

i {
    color: black;
}
 /* width */
 ::-webkit-scrollbar {
    width: 0.3rem;
 
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  } 

.customizearrow {
    width: 1.3rem;
    opacity: 0.6;
    transition: 0.3s;
}

.customizearrow:hover {
    opacity: 1;
}

#dropdownbuttonstyle {
        background: black;
        color: white;
        font-size: 0.65rem;  
        border-radius: 3rem;
  }

#dropdownmenustyle {
    background: black;
    
}

#dropdownmenustyle a {
    color: white !important;
    font-size: 0.8rem;
   
}

.gradient {
    background: linear-gradient(#A43986, black);
 }

.playbutton {
    width: 3rem;
    border-radius: 2rem;
    background: transparent;
} 

h6 {
    color:white;
}

li h6 {
    font-size: 12px;
}

.liststyle h6 {
    font-size: 12 px;
}

.fontsmallersize {
    font-size: 0.5rem;
}

.backgroundcardbottom {
    background: transparent;

}

#cardbottomopacity {
    background-color: rgba(34, 34, 34, 0);

}

.cardbottomopacity:hover {
    transition: 0.2;
    opacity: 1;
}

  .footercontainer {
      height: 1rem;

  }
